/*menu*/

#header{
  position:relative;
  width: 100%;
  min-width: 1024px;
  /*width: 1366px;*/
  height: 72px;
  margin: 0 auto;
  /*border: 1px solid #000;*/
  text-align: center;
  background-color: #135589;
  opacity: 0.7;
  z-index:2;
}
#header ul{
  /*list-style-type: none;*/
  /*margin: 0;*/
  padding: 0;
}
#nav-wrapper{
  width: 1024px;
  margin: 0 auto;
}
.nav {
  text-align:center;
  width: 1024px;
  height:72px;
  position: relative;
  left: 0;
}
.nav ul {
  width:1024px;
  margin: 0 auto;
  list-style-type: none;
}
.nav ul li{
  float: left;
  width: 121px;
  margin: 0;
  /*border-right: 1px solid #e6e4e4;*/
  box-sizing: border-box;
  /*text-indent:-9999px;*/
}
.nav ul li:last-child {
  border-right: none;
}
.nav ul li a{
  display: block;
  width: 100%;
  height:72px;
  line-height:72px;
}
#nv0 a{
  background: url(T--Kyoto--Norofig.png);
  background-repeat: no-repeat;
  background-position: center;
}
#nv1 > a{background: url(T--Kyoto--menutext-05.png);}
#nv2 > a{background: url(T--Kyoto--menutext-06.png);}
#nv3 > a{background: url(T--Kyoto--menutext-07.png);}
#nv4 > a{background: url(T--Kyoto--menutext-08.png);}
#nv5 > a{background: url(T--Kyoto--menutext-09.png);}
#nv6 > a{background: url(T--Kyoto--menutext-10.png);}
#nv7 > a{background: url(T--Kyoto--menutext-11.png);}
#nv8 > a{background: url(T--Kyoto--menutext-12.png);}

#nv11  {background-image: url(T--Kyoto--pulldownmenu-14.png);}
#nv12  {background-image: url(T--Kyoto--pulldownmenu-16.png);}

#nv21  {background-image: url(T--Kyoto--pulldownmenu-14.png);}
#nv22  {background-image: url(T--Kyoto--pulldownmenu-20.png);}

#nv51  {background-image: url(T--Kyoto--pulldownmenu-17.png);}
#nv52  {background-image: url(T--Kyoto--pulldownmenu-18.png);}
#nv53  {background-image: url(T--Kyoto--pulldownmenu-19.png);}

#nv71  {background-image: url(T--Kyoto--pulldownmenu-15.png);}
#nv72  {background-image: url(T--Kyoto--pulldownmenu-22.png);}

#nv1 > a:hover{background-position: 0 -72px;}
#nv2 > a:hover{background-position: 0 -72px;}
#nv3 > a:hover{background-position: 0 -72px;}
#nv4 > a:hover{background-position: 0 -72px;}
#nv5 > a:hover{background-position: 0 -72px;}
#nv6 > a:hover{background-position: 0 -72px;}
#nv7 > a:hover{background-position: 0 -72px;}
#nv8 > a:hover{background-position: 0 -72px;}

.nv > li > ul {
  width:121px;
}
  
.nv > li > ul > li{
  float:inherit;
  height:0px;
  transition:height 0.5s;
  opacity:0.7;
  background-color:#1e1e20;
}

.nv > li > ul > li:hover{
  opacity:0.3;
}

.nv > li:hover > ul > li{
  height:48px;
}

.nv > li > ul > li  a{
  height:0px;
  transition:height 0.5s;
}

.nv > li:hover > ul > li  a{
  height:48px;
}

#contents-wrapper{
  min-width:1024px;
  background-color:#ffffff;
}

#contents{
  width: 1024px;
  margin: 0 auto;
  border-color: #000000;
  color: #969696;
  /*background-color: #c0ffee;*/
}
#contents p{
  word-wrap:break-word;
}
/*#header li{
  text-indent: -9999px;
  float:left;
  width: 100px;
  margin: 0;
  padding: 0;
}*/
#footer{
  width: 100%;
  min-width: 1024px;
  height: 369px;
  margin: 0 auto;
  background-color: #333333;
}
